* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-stretch: 0.1em;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: auto;
}

.active {
  font-weight: 600;
  border-bottom: 1px solid;
}

ul li a {
  font-family: "Poppins", sans-serif;
}

#header #header-top {
  width: 100%;
  height: 200px;
  padding: 20px 0;
}
#header #header-top .container {
  text-align: center;
}
#header #header-top .container img {
  width: auto;
}
#header #navbar {
  background-color: #b1d281;
  height: 40px;
}
#header #navbar .menu {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#header #navbar .menu .link {
  margin: 0 20px;
  list-style: none;
}
#header #navbar .menu .link a {
  text-decoration: none;
  text-transform: capitalize;
  color: #777;
  font-weight: 600;
}
#header #navbar .menu .link a:hover {
  color: #002d75;
  border-bottom: 1px solid #002d75;
}

#no-prodotti {
  min-height: 600px;
  text-align: center;
  color: #001942;
}
#no-prodotti h1 {
  margin: 40px 0;
}
#no-prodotti h3 {
  margin-bottom: 30px;
}
#no-prodotti p {
  line-height: 2;
  text-align: justify;
  text-transform: none;
  font-style: italic;
}

#prodotti {
  height: 600px;
  padding: 30px 0;
  background-image: url(../img/fondo-pag-speciali.jpg);
  background-size: cover;
}
#prodotti .flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#prodotti .card {
  display: flex;
  width: calc(100% / 3);
  height: 400px;
  padding: 30px 20px;
  transition: padding 0.3s;
  background-position: center;
}
#prodotti .card:hover {
  padding: 15px 10px;
}
#prodotti .card .item {
  position: relative;
  width: 100%;
  height: 100%;
}
#prodotti .card .item .img {
  display: block;
  height: 100%;
  width: 100%;
  background-size: contain;
}
#prodotti .card .item .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #001942;
  opacity: 0;
  transition: all 0.5s;
}
#prodotti .card .item .overlay .icon {
  height: 40px;
  color: #001942;
}
#prodotti .card .item:hover .overlay {
  opacity: 100%;
}

#contacts {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#footer .top {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #001942;
  color: #f7f7f7;
  justify-content: center;
  align-items: center;
}
#footer .top h3 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 200;
  font-size: 25px;
}
#footer .bottom {
  min-height: 500px;
  padding: 80px 0;
}
#footer .bottom .container .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#footer .bottom .container .row .col-25 {
  padding: 20px 0;
  width: calc(100% / 4);
}
#footer .bottom .container .row .col-25 .menu li {
  list-style: none;
  margin-bottom: 5px;
}
#footer .bottom .container .row .col-25 .menu li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #001942;
}
#footer .bottom .container .row .col-25 .title {
  margin-bottom: 20px;
}
#footer .bottom .container .row .col-25 .title a {
  color: #001942;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
#footer .bottom .container .row .col-25 .special {
  margin: 20px 0;
}
#footer .bottom .container .row .col-25 .special a {
  color: #777;
}
#footer .bottom .container .row .col-25 .special a:hover {
  color: #001942;
}
#footer .bottom .container .row .col-25 .info {
  font-size: 16px;
  text-transform: none;
}
#footer .bottom .container .row .col-25 .contatti {
  margin-bottom: 20px;
  color: #777;
}