//variabili
//font
$font: 'arial';

//colors
$bg-primary: #f7f7f7;
$bg-nav: #b1d281;
$bg-filter: rgba(0,0,0,0.2);
$bg-footer-top: #001942;
$bg-footer-bottom: #f7f7f7;

$fnt-primary: #777;
$fnt-hover: #002d75;
$fnt-filter: #001942;
$fnt-footer-top: #f7f7f7;
$fnt-footer-bottom: #001942;

$fnt-btn: #f7f7f7;
$bg-btn: #001942; 
//wallpaper
$bg-wallpaper: url(../img/fondo-pag-speciali.jpg);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-primary;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-stretch: 0.1em;
}
.container{
    width: 80%;
    max-width: 1170px;
    margin: auto;
}
.active{
    font-weight: 600;
    border-bottom: 1px solid;
}
ul{
    li{
        a{
            font-family: 'Poppins', sans-serif;
        }
    }
}