//variabili
//font
$font: 'arial';

//colors
$bg-primary: #f7f7f7;
$bg-nav: #b1d281;
$bg-filter: rgba(0,0,0,0.5);

$fnt-primary: #777;
$fnt-hover: #002d75;
$fnt-filter: #444;

//wallpaper
$bg-wallpaper: url(../img/fondo-pag-speciali.jpg);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-primary;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-stretch: 0.1em;
}
.container{
    width: 80%;
    max-width: 1170px;
    margin: auto;
}