#no-prodotti{
    min-height: 600px;
    text-align: center;
    color: $fnt-footer-bottom;
    h1{
        margin: 40px 0;
    }
    h3{
        margin-bottom: 30px;
    }
    p{
        line-height: 2;
        text-align: justify;
        text-transform: none;
        font-style: italic;
    }
}